<div class="row">
  <div class="col-sm-12">
    <h1><%=  @user.username %></h1>
  </div>
  <div>
  <div class="col-sm-6">
    <%= image_tag(@user.avatar.url, class:'img-responsive thumbnail') if @user.avatar? %>
  </div>
  <div class="col-sm-6">
    <h5><%= @user.email %></h5>
    <h5>Number of series: <%= current_user.series.count %></h5>
  </div>
  <div class="col-sm-12">
    <h1>Mis traducciones</h1>
  </div>
</div>