<div class="container">
  <div class="row">
    <div class="home-title">
      <%= image_tag 'lexi.svg' %>
      <h1><%= current_user.username %></h1>
    </div>
    <hr>
    <h2>My series</h2>
    <hr>
    <h3>Últimas actualizaciones (resúmenes y relaciones)</h3>
  </div>
</div>
