<h1 class="index-characters-maintitle">Personajes</h1>
<hr>
<div class="episodes-series-container">
   <%= link_to "#{image_tag @series.picture.url, class: 'episodes-series-image ' if @series.picture?}".html_safe, @series %>
  <h5 class="episodes-series"><%= link_to @series.name, @series %></h5> 
</div>
  <hr>
<div class="index-characters">
  <% sorted_characters.each do |character| %>
    <div class="index-characters-img"> 
      <div class="index-characters-img-container">
        <%= link_to "#{image_tag character.picture.url if character.picture?}".html_safe, character %>
      </div>
      <span class="index-characters-img-title"><%= link_to character.name, character %></span>
    </div>
  <% end %>
</div>