/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "variables";
 @import "bootstrap";

 .progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.sectionTitle{
  font-size: 50px;
  letter-spacing: 5px;
}

.label{
  padding: 2px 10px;
  font-size: 10px;
  letter-spacing: initial;
  &-glosary{
    background-color: rgba(255, 255, 0, 0.616);
    color: black;
  }
}

.form-container{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form-button{
  width: 100%;
}

.aux{
  &__add{
    span{
      font-size: 20px;
      width: 30px;
      height: 30px;
      padding: 3px;
    }
    
  }
}
/*
.navbar-brand{
  display: flex;
  align-items: center;
}*/

.img-lexi-nav{
  width: 37px;
  height: 37px !important;
  margin-right: 4px;
  opacity: 0.5;
  border-radius: 37px;
  position: relative;
  bottom: 9px;
}

/* footer {
  background-color: rgba(231, 228, 228, 0.76);
  color: white;
  text-align: center;
  position: relative;
  padding: 30px;
  bottom: 0;
  width: 100%;
  margin-top: 160px;
}*/

#addTermForm, #addCharacterTagForm{
  display: none;
}

.remote-form{
  width: 280px;
  margin: 40px 0;
}

.footer{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 250px;
  flex-wrap: wrap;
  opacity: 0.2;
  transition: all 0.4s;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
  img{
    width: 200px;
    margin: 0 auto;
  }
  span{
    color: white;
    width: 100%;
    text-align: center;
  }
}