// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters{

  &-main-img{
    width: 100%;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 80%;
      margin: 0 auto;
    }
  }

  &-add{
    margin: 20px 0;
  }

  &-list{
    display:flex !important;
    align-items: center;
  }

  &-related{
    font-size: 20px;
    &-minidesc{
      font-style: italic;
      margin-left: 20px
    }
  }

  &-img{
    width: 80x;
    margin-right: 10px;
  }

  &-carousel{
    width: 100%;
  }

  &-dubname{
    margin-top: 0 !important;
    font-size: 70px;
    letter-spacing: 3px;
    font-weight: initial !important;
  }

  &-namesAndAliases{
    font-size: 20px;

  }

  &-description{
    font-size: 30px;
    font-style: italic;
    line-height: 45px;
    letter-spacing: 1px;
  }

  &-appearances{
    &-title{
      font-weight: bold;
      font-size: 20px;
    }

    &-container{
      display: flex;
      margin-top: 10px;
      &-episode{
        border: 1px solid rgb(214, 214, 214);
        border-radius: 10px;
        padding: 2px 8px;
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
  &-treatment{
    margin-bottom: 30px;
    h1{
      font-weight: bold;
      margin-bottom: 30px;
    }

    span{
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1px;
    }
  }
}

.second-title{
  font-weight: bold;
}

.carousel{
  /*width: 620px;
  margin: 0 auto;
  height: 600px;*/
}

.carousel-inner{
  /*width: 620px;
  height: 600px;*/
}

.index-characters{
  &-maintitle{
    margin-top: 40px;
    font-weight: bold;
  }
  display: flex;
  flex-wrap: wrap;
  $img-dimension: 250px;
  justify-content: center;
  &-img{
    cursor: pointer;
    max-width: $img-dimension;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid rgb(204, 202, 202);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &-container{
      max-width: $img-dimension;
      max-height: $img-dimension;
      min-width: $img-dimension;
      min-height: $img-dimension;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      img{
        width: 100%;
      }
    }

    &-title{
      font-weight: bold;
      font-size: 30px;
      padding: 10px;
    }

  }


}

.search-characters{
  input{
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 20px;
    padding: 10px;
  }
  [type="submit"]{
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    padding: 10px;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}
