// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters{
  &-add{
    margin: 20px 0;
  }

  &-list{
    display:flex !important;
    align-items: center;
  }

  &-related{
    font-size: 20px;
  }

  &-img{
    width: 80x;
    margin-right: 10px;
  }

}