// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters{

  &-main-img{
    width: 100%;
    padding: 10px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 80%;
      margin: 0 auto;
    }
  }

  &-add{
    margin: 20px 0;
  }

  &-list{
    display:flex !important;
    align-items: center;
  }

  &-related{
    font-size: 20px;
  }

  &-img{
    width: 80x;
    margin-right: 10px;
  }

  &-carousel{
    width: 100%;
  }

  &-dubname{
    font-weight: bold;
  }

}

.carousel{
  /*width: 620px;
  margin: 0 auto;
  height: 600px;*/
}

.carousel-inner{
  /*width: 620px;
  height: 600px;*/
}
