// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.relationships{
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-description{
    font-size: 40px;
    text-align: center;  
  }

  &-add{
    width: 40px;
    padding: 4px;
    border: 1px solid gray;
    border-radius: 100px;
  }

}