// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.series{

 &-container{
   border: 1px solid gray;
   border-radius: 10px;
   padding: 10px;

   &-title{
     display: flex;
     flex-wrap: no-wrap; 
     align-items: flex-start;
     img{
       width: 40px;
       padding: 4px;
       border: 1px solid gray; 
       border-radius: 50px;
     }
   }
   
 }

 &-picture{
   max-height: 200px;
   width: 100%;
   overflow: hidden;
 }

 &-show{
   &-edit{
     margin-bottom: 40px;
   }

   h1{
     font-weight: bold;
   }

   p{
     font-size: 15px;
   }

   &-add{
    width: 20px; 
    border: 1px solid gray;
    border-radius: 100px;
   }

   &-character{
     display: flex;
     flex-wrap: wrap;
     img{
       width: 20px;
       border-radius: 20px;
     }
   }
 }

 &-show-picture{
  display: flex;
  justify-content: center;
  padding-top: 20px; 
  
  img{
   max-height: 50vh;
  }
 }

}

