.home{
  &-title{
    display: flex;
    align-items: center;
    img{
      width: 50px;
      padding: 2px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid lightgrey;
      margin-right: 10px; 
    }
    h1{
      margin: 0;
    }
  }
}

.users-list-group-item{
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.users-admin-role{
  display: flex;
  align-items: center;
  div{
    margin-left: 10px;
  }

  &-work{
    border: 1px solid mediumspringgreen;
    border-radius: 5px;
    padding: 4px;
    color: black;
    font-size: 10px;
    background-color: mediumspringgreen; 
    &-qc{
      background-color: orangered; 
      border: 1px solid orangered;
    }
  }

  &-customer{
    border: 1px solid yellow;
    border-radius: 5px;
    padding: 4px;
    color: black;
    font-size: 10px;
    background-color: yellow; 
  }
}

.user-img{
  display: flex !important;
  align-items: center;
}

.img-nav{
  width: 20px;
  height: 20px !important;
  border-radius: 20px;
  margin-right: 4px;
}


.user-show{
  &-header{
    display: flex;
    align-items: center;
    span{
      font-size: 40px;
      margin-left: 10px;
    }
  }

  &-bio{
    &__description{
      margin-top: 10px;
      font-size: 20px;
      padding: 10px;
    }
  }

  &-roles{
    display: flex;
    &__item{
      margin-right: 10px;
    }
  }

  &-works{
    margin-top: 10px;
    display: flex;
    span{
      border: 1px solid rgb(212, 212, 212);
      border-radius: 10px;
      padding: 5px;
      margin-right: 4px;
    }
  }

  &__img{
    width: 120px;
    height: 120px;
    border-radius: 120px !important;
    margin: 0 !important;
  }
}

